.suggestions{
    display:block;
    margin: 0 auto;
    padding:20px;
    text-align:center;
    font-weight:bold;
    font-size:30px;
    border-bottom: 1px solid black;
}

.suggestions:hover{
    background:darkgrey;
    color:white;
}