.header-logo{
    display: block;
    margin: 0 auto;
    width: 263px;
    height: 100%;
}

p{
    font-size:12px;
}

.delete-tag{
    display: block;
    background-image: url("./public/assets/icons/close-icon.png") no-repeat;
    width: 20px;
    height: 20px;
} 
